.expo-slider-wrapper {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.swiper {
  width: 100%;
  aspect-ratio: 16 / 6;
}

@media (max-width: 768px) {
  .swiper {
    aspect-ratio: 9 / 12;
  }
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
  z-index: 2;
  pointer-events: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.646);
}



/* Slide'ların düzgün görünmesi için */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Expo içeriği görünür ve responsive */
.expo-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--expo-image-border-radius, 16px);
}

/* Görselin kaplaması */
.expo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
