html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.global-katman {
  background-color: var(--backgroundroot);
}

/* Flex column layout için */
.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--backgroundroot); /* isteğe bağlı, global-katman'dan alınabilir */
}

.flex-grow {
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: var(--h1color);
}

.divider-color{
  border-color: var(--dividercolor);
}

p{
  color: var(--pcolor);
}
