.navbar-root {
  position: relative;
  display: flex;
  align-items: center;
  height: 6rem;
  justify-content: center;
  background-color: #0d1b2a; /* lacivert ton */
  background-image: url('../../../public/moda-desen-genis.png'); /* yeni desenin yolu */
  background-repeat: no-repeat;
  background-size: cover; /* Tek görseli tam alan kaplayacak şekilde büyütür */
  background-position: center; /* Ortalanmış görünüm */
  color: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.navbar-content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center; /* LOGO ortalanmış */
  align-items: center;
  padding: 0 1rem;
}

.logo {
  margin-top: 1%;
  width: 280px;
  height: 120px;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.528));
}

/* Menü butonu (mobil) */
.menu-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
  display: block;
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }
}
